.container {
    background-color: beige;
    height: 543px;
    width: 80%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/*body {} */

.sidebar {
    margin-top: 60px;
    
    position: absolute;
    transform: rotate(270deg);
    margin-left: -430px;
    justify-content: space-between;
    padding-top: 20%;
    padding-left: 205px;
    padding-right: 0px; 
}
.details {
    position: absolute;
background-position: right;
padding-left: 70%;
padding-top: 50px ;
justify-content: space-between;
margin-left: -250px ;

}
.style {
    position: absolute;
    padding-left: 30%;
    margin-left: -350px;
   
}
.coffee-image {
    height: 500px;
    margin-top: 20px;
    margin-left: 130px;
}
.sidebar-item {
    border-bottom: 1px solid black;
    font-size: larger;
}
.contact-button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 12px
}









/*.product-section {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.product-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 1250px;
    border: 1px solid black;

}

.product {
    width: 22%;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.product p {
    margin: 10px 0;
    font-size: 16px;
}

.new::before {
    content: "NEW";
    background-color: yellow;
    color: black;
    padding: 2px 5px;
    font-size: 12px;
    position: relative;
    top: -20px;
    left: -20px;
}

.sold::after {
    content: "SOLD";
    background-color: black;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    position: relative;
    top: -20px;
    right: -20px;
}